<html>
    <head>
        <title>VOLUNTEER</title>
    </head>
    <body>
        <h1> Be one of Us! </h1>
        <div class="volunteer">         
            <div class="volunteer-container">
                <div class="volunteer-box">
                    <form method="POST">
                        <label for="name"> Name:</label>
                        <br>
                        <input type="text" id="Fname" name="Fname" placeholder="Your first name" required>
                        <input type="text" id="Lname" name="Lname" placeholder="Your last name" >
                        <br>
                        <br>
                        <label for="address"> Address</label>
                        <br>
                        <input type="text" id="Maddress" name="Maddress" placeholder="Municipality"required>
                        <input type="text" id="Caddress" name="Caddress" placeholder="City"required>
                        <br>
                        <br>
                         </div>   
                            <input type="submit"  id="btnRegister" value="Register">
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>  

        <div class="InfoTable">
            <table id="info_list_table" name="info_list_table">
                <tr>
                    <td>{{ firstName }}</td>
                    <td>{{ lastName}}</td>
                </tr>
        </div>

    </body>
</html>